@import "../../index.css";


/* textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
} */

section.contact {
    height: calc(80% - 24px);
    display: flex;
    align-items: center;
}

textarea {
    min-height: 100px !important;
}

button {
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--btn-bg);
}

.done {
    color: var(--btn-bg);
}

.header {
    font-size: 4rem;
}

p {
    margin-top: 3rem !important;
    width: 30rem;
    max-width: 100%;
    font-size: 1.125rem;
    color: #555;
}
