@import "../../index.css";

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.header {
    font-size: 4rem;
}

p {
    margin-top: 2rem;
    width: 30rem;
    max-width: 100%;
    font-size: 1.125rem;
    color: #555;
}
