footer {
    color: #555;
    background-color: #F8F9FA;
}

.footerFinalAlignment {
    /* font-family: Mulish; */
    bottom: 0px;
    width: 100%;
    height: 100px;
    position: relative;
}
.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:hover {
    color: var(--color-primary);
}