/* .service-icon {
    font-size: 5rem;
}

/* .services {
    display: flex;
    flex-wrap: wrap;
} */

/* .card {
    margin: 2rem;
    background-color: var(--color-bg);
}

.card:hover {
    border: 1px solid var(--btn-bg);
    transform: translateY(5px);
}

.card-title {
    color: var(--btn-bg);
}

.card-text {
    font-size: 14px;
    color: #555;
}  */

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service > h2 {
    font-size: 4rem;
    color: var(--color-cyan);
}

.service > p {
    font-size: 1.5rem;
}

.service .item-container {
    display: flex;
    flex-wrap: wrap;
}

.service .item {
    padding: 1.5rem;
    /* width: 100%; */
}

.item .item-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.item .item-content {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.developemnt {
    color: var(--color-cyan);
}

.design {
    color: var(--color-purple);
}

.bug {
    color: var(--color-siren);
}

.data-analytics {
    color: var(--color-cobalt);
}

@media only screen and (min-width: 768px) {
    .item {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .item {
        width: 100%;
    }
}