.main-heading {
    /* font-family: inter; */
    font-weight: 700;
    font-size: 72px;
    line-height: 87.14px;
    color: #E46F55;
}

.sub-content {
    
    
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    
    
    color: #000000;

}


.team-hobby-item.team-hobby-item-desc{
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

.color-navies {
    color: var(--color-cyan);
}

.color-goldy{
    color: #998200;
}

.color-browny {
    color: var(--color-siren);
}

.member-image {
    width: 300px;
    height: 300px;
    border-radius: 20%;
}