
.left-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 500px;
    flex-direction: column;
}

.left-below-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.app_name_content{
    font-weight: 700;
}

.left-above-content{
    font-size: 72px;
    color:#003B75;
    font-weight: 700;
    line-height: 87px;
}

.image-dimension {
    width: 230px;
    height: 470px;
}